*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}
.container{
    margin: 15px;
    text-align: center;
}
p{
    margin-top: 15px;
}